<h1>
  Add a new item
</h1>

<form action="/insert_item" method="post">
  <div>
  <label for="link">Link URL</label>
  <input id="link" type="text" name="query_link_url" placeholder="Enter a URL...">
	</div>
  <div>
  <label for="desc">Link Description</label>
  <input id="desc" type="text" name="query_link_description" placeholder="Enter a link description...">
  </div>
  <div>
  <label for="thumb">Thumbnail URL</label>
  <input id="thumb" type="text" name="query_thumbnail_url" placeholder="Enter a thumbnail URL...">
  </div>
  <button>Create item</button>	

</form>
